#backdrop{
    height: 20rem;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    color: #eee;
}

#backdrop .title{
    color: #fff;
    margin: 0px
}

#rate{
    font-weight: 500;
}

.title{
    color: #fff;
}

#app {
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
}

body {
    color: #fff;
    
}